@font-face {
  font-family: 'Red Hat Display';
  src: url('../fonts/RedHatDisplay-Regular.woff2') format('woff2'),
      url('../fonts/RedHatDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('../fonts/RedHatDisplay-SemiBold.woff2') format('woff2'),
      url('../fonts/RedHatDisplay-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('../fonts/RedHatDisplay-Bold.woff2') format('woff2'),
      url('../fonts/RedHatDisplay-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  /* colors */
  --clr-dark-gray: hsl(239, 21%, 20%);
  --clr-medium-gray: hsl(239, 10%, 57%);
  --clr-medium-gray-25: hsla(239, 10%, 57%, 0.25);
  --clr-white: hsl(0, 0%, 100%);
  --clr-primary-bluegreen: hsl(192, 37%, 48%);
  --clr-primary-bluegreen-hover: hsl(192, 90%, 77%);
  --clr-primary-purple: hsl(267, 34%, 53%);
  --clr-primary-purple-hover: hsl(267, 54%, 71%);
  /* typography */
  --fw-r: 400;
  --fw-sb: 600;
  --fw-b: 700;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

h1,
h2,
h3 {
  line-height: 1.1;
  text-wrap: balance;
}

body {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

img,
picture {
  display: block;
  width: 100%;
}

a.btn {
  text-decoration: none;
  background-color: var(--clr-primary-purple);
  color: var(--clr-white);
  font-weight: var(--fw-b);
  border-radius: 1.8125rem;
  padding: 1.15em 1.8125em;
  transition: 220ms all ease-in-out;
}

a.btn:hover {
  background-color: var(--clr-primary-purple-hover);
}

a.btn:focus {
  outline-style: solid;
  outline-color: transparent;
  box-shadow: 0 0 0 4px hsla(267, 54%, 71%, 0.5);
}

a.btn:first-of-type {
  background-color: var(--clr-primary-bluegreen);
}

a.btn:first-of-type:hover {
  background-color: var(--clr-primary-bluegreen-hover);
}

.primary-header {
  padding-top: 3rem;
  text-align: center;
}

.hero__grid {
  display: grid;
  overflow-x: hidden;
  margin-top: 3.5rem;
  align-items: center;
  gap: 3rem;
}

.hero__grid picture {
  margin-bottom: 3.5rem;
}

.hero__grid picture img {
  object-fit: cover;
  width: calc(100vw + 10vw);
  margin-left: -5vw;
  margin-right: -5vw;
}

.hero__content {
  width: min(69.375rem, 100% - 3rem);
  text-align: center;
  margin: 0 auto;
}

.hero__title {
  font-size: 2.5rem;
  font-weight: var(--fw-b);
}

.hero__lead {
  font-size: 1rem;
  font-weight: var(--fw-r);
  color: var(--clr-medium-gray);
  margin-block: 2.5rem;
}

.hero__btn-group {
  text-align: center;
}

.btn {
  display: inline-block;
  width: auto;
  margin: 0.5rem 0;
}

.hero__image-right {
  display: none;
}

.article__header {
  text-align: center;
}

.article__number {
  position: relative;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: var(--fw-sb);
  color: var(--clr-medium-gray);
  border: 1px solid var(--clr-medium-gray-25);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  width: 3.5rem;
}

.article__header {
  padding-block: 5.25rem 4.5rem;
}

.article__number::before {
  content: '';
  position: absolute;
  top: -5.25rem;
  transform: translateX(-50%);
  width: 1px;
  height: 5.25rem;
  background-color: var(--clr-medium-gray-25);
}


@media (min-width: 1024px) {
  .hero__grid {
    grid-template-columns: 1fr 540px 1fr;
    width: 105vw;
  }

  .hero__grid picture img {
    width: 100%;
    margin: 0;
  }

  .hero__image-left {
    margin-left: -2.5vw;
  }

  .hero__image-right {
    display: block;
    margin-right: -2.5vw;
  }
}
body {
  font-family: 'Red Hat Display';
  font-weight: 400;
}

.container-lg {
  max-width: min(69.375rem, 100% - 3rem);
  margin: 0 auto;
}