@font-face {
  font-family: 'Red Hat Display';
  src: url('../fonts/RedHatDisplay-Regular.woff2') format('woff2'),
      url('../fonts/RedHatDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('../fonts/RedHatDisplay-Medium.woff2') format('woff2'),
      url('../fonts/RedHatDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('../fonts/RedHatDisplay-SemiBold.woff2') format('woff2'),
      url('../fonts/RedHatDisplay-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('../fonts/RedHatDisplay-Bold.woff2') format('woff2'),
      url('../fonts/RedHatDisplay-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Red Hat Display';
  src: url('../fonts/RedHatDisplay-Black.woff2') format('woff2'),
      url('../fonts/RedHatDisplay-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  /* colors */
  --clr-dark-gray: hsl(239, 21%, 20%);
  --clr-medium-gray: hsl(239, 10%, 57%);
  --clr-medium-gray-25: hsla(239, 10%, 57%, 0.25);
  --clr-white: hsl(0, 0%, 100%);
  --clr-primary: hsl(192, 37%, 48%);
  --clr-primary-v: hsl(192, 90%, 77%);
  --clr-primary-hover: hsl(192, 54%, 64%);
  --clr-secondary: hsl(267, 34%, 53%);
  --clr-secondary-v: hsl(268, 100%, 86%);
  --clr-secondary-hover: hsl(267, 54%, 71%);
  /* typography */
  --fw-r: 400;
  --fw-m: 500;
  --fw-sb: 600;
  --fw-b: 700;
  --fw-xb: 900;
  --heading-1-min: 2.5rem;
  --heading-1-max: 4rem;
  --heading-2-min: 2rem;
  --heading-2-max: 2.5rem;
  --base-text-1: 1rem;
  --base-text-2: 1.125rem;
  --heading-1-fluid: clamp(var(--heading-1-min), 3vw + 1.375rem, var(--heading-1-max));
  --heading-2-fluid: clamp(var(--heading-2-min), 1vw + 1.625rem, var(--heading-2-max));
  --base-text-fluid: clamp(var(--base-text-1), 0.25vw + 0.90625rem,var(--base-text-2));
}

html {
  font-size: 100%;
  box-sizing: border-box;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

h1,
h2,
h3 {
  line-height: 1.1;
  text-wrap: balance;
}

body {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
  font-family: 'Red Hat Display';
  font-weight: var(--fw-m);
  font-size: var(--base-text-fluid);
  color: var(--clr-medium-gray);
}

img,
picture {
  display: block;
  width: 100%;
}

.primary-header {
  padding-top: 3rem;
  text-align: center;
}

.hero {
  overflow-x: hidden;
  margin-top: 3.5rem;
  padding-bottom: 4rem;
}

.hero .container-lg {
  justify-content: center;
  align-items: center;
}

.hero img {
  object-fit: cover;
  width: 110vw;
  margin-left: -5vw;
  margin-right: -5vw;
}

.hero-content {
  width: min(33.75rem, 100% - 3rem);
  flex-direction: column;
}

.hero-title {
  margin-top: 3.5rem;
  font-size: var(--heading-1-fluid);
  font-weight: var(--fw-xb);
  color: var(--clr-dark-gray);
}

.hero-btn-group {
  gap: 1rem;
}

.hero-image-right {
  display: none;
}

/* articles */
ol li:not(.gallery__img) {
  padding-top: 7rem;
}

li article {
  position: relative; 
}

.article-number {
  position: absolute;
  top: -1.75rem;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  background-color: var(--clr-white);
  font-size: var(--base-text-1);
  font-weight: var(--fw-b);
  color: var(--clr-medium-gray);
  border: 1px solid var(--clr-medium-gray-25);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  width: 3.5rem;
  z-index: 1;
}

.article-number::before {
  content: '';
  position: absolute;
  top: -5.25rem;
  transform: translateX(-50%);
  width: 1px;
  height: 5.25rem;
  background-color: var(--clr-medium-gray-25);
}

.article-title {
  font-size: var(--heading-2-fluid);
  font-weight: var(--fw-xb);
  color: var(--clr-dark-gray);
}

.article-title span {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: var(--base-text-1);
  font-weight: var(--fw-xb);
  color: var(--clr-primary);
  margin-bottom: 2rem;
}

.article-1 {
  padding-block: 5.5rem 4.5rem;
}

.gallery {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-bottom: 4.5rem;
}

.gallery__img img {
  object-fit: cover;
  border-radius: 0.5rem;
}

.article-1 .article-content {
  width: min(33.75rem, 100%);
}

.article-2 {
  position: relative;
  padding-block: 6.125rem 4.5rem;
}

.article-2 picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.article-2 img {
  object-fit: cover;
  height: 100%;
}

.article-2:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-primary);
  opacity: 0.9;
}

.article-2 .article-content {
  position: relative;
  z-index: 1;
  font-size: var(--base-text-2);
  color: var(--clr-white);
  justify-items: center;
  gap: 2.5rem;
}

.article-2 .article-title {
  color: var(--clr-white);
}



/* =========================
           utilities
   ========================= */
.container-lg {
  max-width: min(69.375rem, 100% - 3rem);
  margin: 0 auto;
}

.container-sm {
  text-align: center;
  margin: 0 auto;
  gap: 2.5rem;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}

/* buttons */
a.btn {
  text-decoration: none;
  width: 8.6875rem;
}

button.btn {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  width: 12.0625rem;

  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentColor;
  }
}

a.btn,
button.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  color: var(--clr-white);
  font-size: var(--base-text-1);
  font-weight: var(--fw-xb);
  border-radius: 1.75rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  padding: 0.25em 0.75em;
  height: 3.625em;
  text-align: center;
  line-height: 1.1;
  transition: 220ms all ease-in-out;
}

button.btn-primary {
  background-color: var(--clr-primary)
}

button.btn-primary:hover {
  background-color: var(--clr-primary-hover)
}

button.btn-primary span{
  color: var(--clr-primary-v)
}

a.btn-secondary,
button.btn-secondary {
  background-color: var(--clr-secondary);
}

a.btn-secondary:hover,
button.btn-secondary:hover {
  background-color: var(--clr-secondary-hover);
}

a.btn-secondary span,
button.btn-secondary span {
  color: var(--clr-secondary-v);
}

@media (min-width: 48rem) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 64rem) {
  .hero {
    max-width: 105vw;
    grid-template-columns: 1fr 540px 1fr;
    gap: 5.5rem;
    width: 105vw;
    margin: 4rem auto 0;
    align-items: center;
  }

  .hero img {
    width: 100%;
    margin: 0 auto;
  }

  .hero-image-left {
    margin-left: -2.5vw;
  }

  .hero-image-right {
    display: block;
    margin-right: -2.5vw;
  }

  .hero-btn-group {
    flex-direction: row;
    justify-content: center;
  }

  .article-2 {
    padding-block: 7rem;
  }

  .article-2 .article-content {
    grid-template-columns: 2fr 21.875rem 1fr;
    gap: 4rem;
    align-items: center;
    text-align: left;
  }

  .article-2 .article-content .btn {
    justify-self: end;
  }
}
